<div class=" center containter">
  <form  class="center" ng-submit="$ctrl.searchSubmit()">
    <div class="input-field">
      <input id="search" type="search" ng-model="$ctrl.searchTerm" required placeholder="WHAT?!?">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit search
      <i class="material-icons right">send</i>
    </button>
  </form>
  <div ng-repeat="gif in $ctrl.gifs">
    <div class="gif" ng-dblclick = "$ctrl.clickDelete(gif)"><img src={{gif}} alt=""></div>
  </div>
</div>
