<footer class="page-footer red accent-1" id="pagefooter">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">A&A CORP</h5>
                <p class="grey-text text-lighten-4">Alex Lane and Austin Edwards working on <br>TOOOO MANY GIFs</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">A&A Pages</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/amlcodes">Alex Git</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/austintedwards/">Austin Git</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">NO More Links</a>
            </div>
          </div>
        </footer>
